.heading {
    color: blue; background-color: yellow; text-align: center; font-size: 40px;
}

.alt {
    font-size: 30px;
    background-color: lightblue;
    display: inline;
    margin: 5px;
    padding: 2px 8px;
}

.container {
    width: 650px;
    background-color: lightgreen;
    border: solid 10px black;
    margin: auto;
}

.heading2 {
    color: white;
    background-color: red;
    display: inline;
    width: auto;
}

.pic-adjust {
    height: auto;
    width: 500px;
}